# pycache and redundant files
source/client/__pycache__/
source/server/__pycache__/
source/server/build/
source/server/dist/
source/server/server.log
source/client/build/
source/client/dist/
source/client/client.log